@import '../../style.css';

.categorie {
    position: relative;
    top: 4rem;
}

.underline {
    text-decoration: underline;
    color: #80A6E7;
}

h1 {
    position: absolute;  
    top: 2rem;
    padding: 0 1rem;
}

h4 {
    display: table-cell;
    padding: 0.75rem;
}

.alerte {
    position: relative;
    display: table;
    top: 5rem;
}

.n2 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1rem;
}

.block {
    position: relative;
    top : 6rem;
    background:rgba(128,166,231, .33);
    margin-left : 3rem; 
    margin-right : 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}



.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    min-height: 80px;
    align-items: center;
    background-color: #05152C;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px rgba(128,166,231, .33) solid;
  }