@import '../../style.css';

:root {
    /* allow to use dynamic alpha apply with rgb() (no alpha) or rgba() (with alpha) */
    --purple: 180, 180, 248;
    --blue: 128, 166, 231;
    --pink: 241, 196, 217;
    --grey: 249, 246, 246; 
}

h1 {
    position: absolute;  
    top: 64px;
    padding-left: 16px;
}

h2{
    color: #FFF;
} 

.date {
    top: 96px;
    position: relative;
    padding-left: 16px;
}

.recommandations {
    font-size: 1.375rem;
    font-family: 'Poppins-SemiBold';
    position: relative;
    left: 16px;
    top: 100px;
    color: #FFFFFF;

}

h4 {
    font-size: 0.9375rem;
    font-family: 'Poppins-Medium';
    color: #FFFFFF;

}

p {
    font-size: 0.875rem;
    font-family: 'Poppins-Regular';
    color: white;
    overflow: hidden;
}

.presentation {
    display: inline;
    margin: 16px;
}

.titre2 {
    position: absolute;
    top: 368px;
    padding-left: 16px;
}


.block0 {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: relative;
    margin: 16px;
    top: 84px;
    color: #fff
}

.block0-presentation {
    display: flex;
}

.block0-title {
    margin-left: 8px;
    padding-top : 8px; 
}

.block1-presentation {
    position: relative;
    margin: 8px;
    padding-left : 8px;
    display: flex;
    height : 28px; 
}

.block1-image {
 width: 22px;
 height: 22px;
}

.hashtag {
    margin-left: 8px;
}

p {
    margin: 8px;
    padding-left : 8px;
}

.liste {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70vh ;
    left: calc(50vw - 31px);
}
.contenu {
   display: inline-block;
   width: 10px;
   height: 5px;
   border-radius: 3px;
   opacity: 0.28;
   transition: width 0.5s ease-in-out;
}

.block1 {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: absolute;
    width: 338px;
    height: 200px;
    left: 19px;
    top: 420px;
}

.block2 {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: absolute;
    width: 338px;
    height: 200px;
    left: 19px;
    top: 628px;
}

.unesalade {
    position : relative; 
    top : -16px;
    left : 12px;
}

.pic {
    margin-left: 8px;
    margin-bottom: 8px;
}

.n1 {
    background: rgba(128, 166, 231, 0.52);
    display: inline;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 10px;

}

.infos {
    display: flex;
    justify-content: space-between;

}

.n2 {
    color: #B6B3B3;
    display: inline;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 10px;
}

.n3 {
    color: #B6B3B3;
    display: inline;
    padding-right: 8px;

}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    min-height: 80px;
    align-items: center;
    background-color: #05152C;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px rgba(128,166,231, .33) solid;
  }