@import '../../../style.css';
body {
    background-color: #05152C;
    height: 100vh;
    margin: 0;
}
h2 {
    width: 100vw;
    position: absolute;
    top: 12vh;
    text-align: center;
}
.fleche{
    position: absolute;
    bottom: 15vh;
    left: calc(50vw - 39px);
}
.passer {
    z-index: 1;
    text-decoration: none;
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: white;
    position: absolute;
    top: 5vh;
    right: 10vw;
}
