body {
    background-color: #05152C;
}

img {
display: inline;
margin-left: 27.5px;
margin-right: 27.5px;
width: 15px;
height: 15px;
}

.home {
    margin-left: 40px;
    }

    .profil {
        margin-right: 40px;
        }