body {
    background-color: #05152C;
}

img {
display: inline-flex;
margin-left: 27px;
margin-right: 27px;
width: 15px;
height: 15px;
bottom: 20vh;
}

.home {
    margin-left: 40px;
    }

.profil {
   margin-right: 40px;
   }