@import '../../style.css';

body {
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    right: 2rem;
}

.block {
    position: absolute;
    top: 10rem;
    left: 1rem;
    right: 1rem; 
}

.tuile {
    transition: all 0.3s;
    width: calc(100vw - 6rem);
    padding: 1rem;
    position: relative;
    left: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background: rgba(168, 178, 244, 0.13);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
}
.tuile img,
.tuile p {
    display: inline-block;
}
.tuile p {
    width: 100%;
    text-align: center;
    margin-left: 1rem;
}
.tuile:hover, .tuile:active {
    background-color: #80A6E7;
}

.img {
    position: relative;
    max-width: 100px;
    height: auto;
}


h2 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1rem;
}

.infoos {
    width: calc(100vw - 4rem);
    position: relative;
    left: 2rem;
    font-size: 0.875;
    top : 34.5rem;
}

.fleche {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins-Medium';
    color: white;
    font-size: 1.375rem;
    top: 2.1rem;
    left: 1rem;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    min-height: 80px;
    align-items: center;
    background-color: #05152C;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    border-top: 1px rgba(128,166,231, .33) solid;
  }