@import '../../style.css';


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    min-height: 80px;
    align-items: center;
    background-color: #05152C;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px rgba(128,166,231, .33) solid;
  }

  h1 {
    position: absolute;  
    top: 2rem;
    left: 1rem;
}

p {
  margin: 8px;
  padding-left : 8px;
}

.ecrire {
  display: flex;
  background: rgba(168, 178, 244, 0.13);
  position: relative;
  margin: 16px;
  top: 3.5rem;
}

.ecrire1 {
 margin-left:  10px;
}
  .boule1 {
    display: flex;
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: relative;
    margin: 16px;
    top: 64px;
  }

  .boule2 {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: absolute;
    /* width: 338px;
    height: 200px; */
    margin: 16px;
    top: 415px;
}

.boule3 {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 5px;
    position: absolute;
    /* width: 338px;
    height: 200px; */
    margin: 16px;
    top: 565px;
}

.mur {
display: flex;
justify-content: flex-start;
top: 6rem;
}

.emoji {
display: flex;
justify-content: flex-end;
width: 21.18px;
height: 20px;
}

.n2 {
  color: #B6B3B3;
  display: inline;
  margin: 10px;
  padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 10px;
}

/* .skrt {

    align-content: space-between;
} */