@import '../../style.css';


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    min-height: 80px;
    align-items: center;
    background-color: #05152C;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px rgba(128,166,231, .33) solid;
  }

  h1 {
    position: absolute;  
    top: 2rem;
    left: 1rem;
}


.text {
  margin: 0 1rem 1rem 1rem;
  padding-bottom: 1rem;
}

.ecrire {
  display: flex;
  background: rgba(168, 178, 244, 0.13);
  position: relative;
  width: 75vw;
  margin: 0.75rem 0;
  left: 1rem;
  top: 4.5rem;
  border-radius: 15px;
}

.ecrire1 {
 margin-left:  10px;
}

.tuile {
    background: rgba(168, 178, 244, 0.13);
    border-radius: 15px;
    position: relative;
    margin: 1rem;
    top: 4rem;
}


.mur {
position: relative;
top: 6rem;
left: 0.5rem;
}

.icone {
margin-left: 16px;
}

.emoji {
  display: flex;
  width: 21.18px;
  height: 20px;
  position: relative;
  right: -313px;
  top: 19px;
}

.new-page {
  display: block;
  text-decoration: none;
  font-family: 'Poppins-Regular';
  font-size: 0.875rem;
  padding: 0.5rem;
  color: #B6B3B3;
  display: inline;
  border-radius: 10px;
}
.n2 {
  color: #B6B3B3;
  display: inline;
  padding-left: 1rem;
  border-radius: 10px;
}
.n3 {
color: #B6B3B3;
display: inline;
}

.n1 {
  background: rgba(128, 166, 231, 0.52);
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 15px;
  margin-left: 1rem;
}

body {
  height : 60rem;
}

.selectionner {
  transition: all 0.3s;
  position: relative;
  border: none;
  color: white;
  font-size: 0.875rem;
  font-family: 'Poppins-Regular';
  background-color: #80A6E7;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  top: 4.5rem;
  right: calc(-100vw + 102px + 1rem);
}

.button {
  transition: all 0.3s;
  width: 100vw;
  height: 20vh;
  background-color: rgba(155, 155, 155, 0.50);
  position: fixed;
  bottom: -10vh;
}

.active {
  bottom: 0vh;
}

.cancel {
  background-color: rgba(var(--purple), 0.8);
  right: calc(-100vw + 70px + 1rem);
}

.selected {
  box-shadow: inset 0 0  0.25rem 0.1rem  #80A6E7;
}

.button button,
.button a {
  z-index: 100;
  padding: 0.25rem 0.5rem;
  margin: 0;
  border: none;
  border-radius: 15px;
  font-size: 0.875rem;
  font-family: 'Poppins-Regular';
  color: white;
  position: relative;
  top: 1rem;
}
.button a:first-child {
  text-decoration: none;
  left: 1rem;
}
.button button:last-child {
  right: -6.7rem;
}