@import '../../style.css';


.feu {
    position: absolute;
}

.bouteille {
    position: absolute;
}

.chiffonner {
    position: absolute;
}

img{
    position: relative;
}

h2 {
    position: relative;
}