@import '../../../style.css';

body {
    background-color: #05152C;
    height: 100vh;
    margin: 0;
}
.fleche{
    position: absolute;
    bottom: 15vh;
    left: calc(50vw - 39px);
}
h2 {
    width: 100vw;
    position: absolute;
    top: 12vh;
    text-align: center;
}
.theme{
    padding: 0;
    margin: 0;
    position: relative;
    left: 2rem;
    width: calc(100vw - 4rem);
    top: 28vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;

}
 label {
    text-align: center;
    font-family: 'Poppins-Regular';
    color: white;
    position: relative;
    top: 1rem;
    width: 4.5rem;
}

.passer {
    z-index: 1;
    text-decoration: none;
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: white;
    position: absolute;
    top: 5vh;
    right: 10vw;
}

.changer {
    border: none;
    border-radius: 18px;
    height: 36px;
    width: 99px;
    color: white;
    background-color: rgba(var(--blue), 0.53);
    font-family: 'Poppins-Medium';
    font-size: 13px;
    position: absolute;
    top: 61vh;
    right: 2rem;
    cursor: pointer;
}

.ns {
    appearance: none;
}

.subject {
    border-radius: 100%;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.75rem;
    margin: 0;
    background-color: rgba(var(--grey), 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject:checked {
    background-color: rgba(var(--grey), 0.4);
}


.slide {
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    transition: all 0.3s;
}
.slide-step2 {
    transform: translateX(-100%);
}

.colere::before , .content::before , .ecole::before ,
.sexe::before , 
.tristesse::before , 
.famille::before {
    position: relative;
    top: 1px;
}

.colere::before {
    content: url("../../../img/Emojis/Colère icone.svg");
}
.content::before {
    content: url("../../../img/Emojis/Content icone.svg");
}
.ecole::before {
    content: url("../../../img/Emojis/Ecole icone.svg");
}
.sexe::before {
    content: url("../../../img/Emojis/Sexe icone.svg");
}
.tristesse::before {
    content: url("../../../img/Emojis/Tristesse icone.svg");
}
.famille::before {
    content: url("../../../img/Emojis/Famille icone.svg");
}